*{
    margin: 0;
    padding: 0;
}
.files{
    float: right;
    height: 419px;
    width: 684px;
    /* width: 1002px; */
    margin: 15px 141px 0 0;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(99,99,99, 0.2);
    opacity: 1;
    background-color: rgba(255,255,255, 1);

}
.filemain{
    margin: 19px 0 0 25px;
    opacity: 1;
    color: rgba(64,73,101,1);
    font-family: "NunitoSans-Bold", sans-serif;
    font-size: 22px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0px;
}
.table{
    margin: 39px 0 0 25px;
}
.r1{
    width: 936px;
    height: 16px;
}

.rcc1{   
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 2px solid rgba(169,181,218, 1);
    opacity: 1;
    background-color: #A9B5DA;
}
.rc2{
    margin: 0 0 12px 26px;
    width: 111px;
    height: 24px;
    opacity: 1;
    color: rgba(87,102,148,1);
    font-family: "NunitoSans-ExtraBold", sans-serif;
    font-size: 13px;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 0.51px;
    line-height: 24px;
    text-transform: uppercase;
}
.rc3{
    margin: 0 0 12px 160px;
    width: 101px;
    height: 24px;
    opacity: 1;
    color: rgba(87,102,148,1);
    font-family: "NunitoSans-ExtraBold", sans-serif;
    font-size: 13px;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 0.51px;
    line-height: 24px;
    text-transform: uppercase;
}
.rc4{
    margin: 0 0 12px 0;
    width: 101px;
    height: 24px;
    opacity: 1;
    color: rgba(87,102,148,1);
    font-family: "NunitoSans-ExtraBold", sans-serif;
    font-size: 13px;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 0.51px;
    line-height: 24px;
    text-transform: uppercase;
}
.rc5{
    margin: 0 0 12px 59px;
    width: 115px;
    height: 24px;
    opacity: 1;
    color: rgba(87,102,148,1);
    font-family: "NunitoSans-ExtraBold", sans-serif;
    font-size: 13px;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 0.51px;
    line-height: 24px;
    text-transform: uppercase;
}
.rc6{
    margin: 0 0 12px 17px;
    width: 115px;
    height: 24px;
    opacity: 1;
    color: rgba(87,102,148,1);
    font-family: "NunitoSans-ExtraBold", sans-serif;
    font-size: 13px;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 0.51px;
    line-height: 24px;
    text-transform: uppercase;
}
.rc7{
    margin: 0 0 12px 39px;
    width: 115px;
    height: 24px;
    opacity: 1;
    color: rgba(87,102,148,1);
    font-family: "NunitoSans-ExtraBold", sans-serif;
    font-size: 13px;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 0.51px;
    line-height: 24px;
    text-transform: uppercase;
}
.border{
    margin: 0 0 20px 25px;
    border-bottom: 1px solid #DCE0E3;
    width: 632px;
}
.tablebody{
    /* display: inline-block; */
    height: 270px;
    overflow: scroll;
    width: 684px;
    margin: 0 0 20px 25px;
}
.tablebody::-webkit-scrollbar{
    display: none;
  }